body{
	background-image:url('C.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0;
}
p{
	text-decoration:none;
}
.sidenav{
	height:100%;
	width:180px;
	position:fixed;
	background-color:#662726;
	overflow-x:hidden;
	padding-top:30px;
}
.sidenav a{
	padding:16px 8px 8px 18px;
	font-size:25px;
	text-decoration:none;
	color:white;
	display:block;
}
.sidenav a:hover{
	font-size:30px;
	color:#C5BCB9;
}
h1{
	font-size:45px;
	padding-top:80px;
	padding-left:35%;
	font-family:lato;
	color:white;
}
h2{
	padding:50px;
	padding-left:35%;
	font-size:30px;
	font-family::lato;
	color:white;
	
}
.footer{
	padding-left:16px;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	color:white;
	text-align:left;
}