body{
	background-image:url('E.jpg');
	background-repeat:no-repeat;
	background-size:100% 135%;
	margin:0;
}

.navbar{
	font-family:Lato;
	width:100%;
	background-color:#FF6699;
	overflow:visible;
	color:#000000;
}
.navbar a{
	font-family:lato;
	float:left;
	padding:12px;
	color:white;
	text-decoration:none;
	font-size:25px;
	width:31%;
	text-align:center;
	}
.navbar a:hover{
	background-color:gray;
}

h1{
	color:#FFFFFF;
	font-size:50px;
	padding-top:7%;
	padding-left:37%;
	font-family:lato;
	}
	
h2{
	color:white;
	font-family:lato;
	font-size:30px;
	padding-left:37%;
	}
h3{
	color:white;
	font-family:lato;
	font-size:30px;
	padding-left:37%;
}
